# Windows Executables
*.exe
# Linux/Mac Executables
*.out
# Object files (intermediate compilation files)
*.o
*.obj

# IDE & Editor Config
.vscode/
.vs/
*.ipch
*.db

# OS Specific
.DS_Store
Thumbs.db
Desktop.ini

# Build Folders (Future proofing)
bin/
build/
Debug/
Release/

# Not completed yet
practice/leetcode/lc_198.cpp
practice/leetcode/lc_3501.cpp
practice/leetcode/lc_14.cpp